@import url('https://fonts.googleapis.com/css?family=Muli:200,400,700|Poppins');

body {
  font-family: Muli, sans-serif;
  background: #eceff1;
}

/* All Buttons */

.btn-large {
  border-radius: 5px;
}

/* NavBar Section */

#logo {
  padding: 10px;
  width: 100px;
}

ul li a {
  color: #37474f;
  font-weight: 700;
}

.burger {
  color: #37474f;
}

/* First Parallax Section */

.move-up {
  margin-bottom: 10%; 
}

#para-1-img {
  margin-bottom: 10%;
}

.info {
  font-size: 35px;
  font-family: poppins, sans-serif;
  line-height: 38px;
}

#plane-animate {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

#plane-animate:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* Work Highlights Section */

h2 {
  color: #37474f;
  font-weight: 300;
  font-family: muli, sans-serif;
}

.card .card-reveal .card-title {
  font-weight: 700;
}

/* Second Parallax Section */

#para-2 {
  height: 300px;
  margin-top: 5%;
}

/* About Me Section */

@media (min-width: 1281px) {
  .img-circle {
    width: 100%;
  }
}

@media (max-width: 568px) {
  .img-circle {
    width: 100%;
  }
}

.img-circle {
  border-radius: 10%;
}

.about-me {
  font-size: 16px;
}

b {
  font-size: 18px;
}

.move-down {
  margin-top: 10%;
}

/* Contact Section */

.social {
  width: 8%;
  margin: 2%;
}

#contact-social {
  margin-bottom: 0%;
}

.social {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.social:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* Third Parallax Section */

#para-3 {
  margin-top: 5%;
  height: 300px;
}

#para-3-img {
  margin-bottom: -20%;
}

